body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Register page*/
.page-register .secction-main { background: aliceblue;border: 1px solid rgb(214, 214, 214);}
.page-register .secction-main .secction-content { padding: 18px}
.page-register .secction-main .secction-content .form-group input,
.page-register .secction-main .secction-content .form-group textarea { max-width: 100%}
.img-rounded { border-radius: 6px;}
.culture-form {	color : #999999}
.culture-form ul > li > a { padding-top: 15px;padding-bottom: 8px;}
.culture-form ul > li > a label { font-weight:100}
.culture-form .selected { background-color: #999999;}
.culture-form .selected label { color:white;}
.nav .navbar-nav .navbar-right .culture:last-child {margin-right: 0!important}																						   