<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AzureStorageExtensions" version="1.0.9" targetFramework="net452" />
  <package id="AzureTableStorageNLogTarget" version="1.0.11" targetFramework="net452" />
  <package id="Base64Url" version="1.0.2" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net452" />
  <package id="FluentNHibernate" version="2.0.3.0" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net452" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net452" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net452" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NHibernate" version="4.1.1.4000" targetFramework="net452" />
  <package id="NLog" version="4.4.11" targetFramework="net452" />
  <package id="NLog.Config" version="4.4.11" targetFramework="net452" />
  <package id="NLog.Extensions.AzureTableStorage" version="1.1.4.0" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.11" targetFramework="net452" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.0.11" targetFramework="net452" />
  <package id="System.Dynamic.Runtime" version="4.0.0" targetFramework="net452" />
  <package id="System.Linq.Queryable" version="4.0.0" targetFramework="net452" />
  <package id="System.Net.Requests" version="4.0.11" targetFramework="net452" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net452" />
  <package id="Unofficial.Microsoft.WindowsAzure.ServiceRuntime" version="2.9.0.0" targetFramework="net452" />
  <package id="WindowsAzure.Storage" version="8.1.4" targetFramework="net452" />
</packages>