<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/23584846-b85c-4ccc-a9dd-91dceab6faf9/resourceGroups/jehovajireh/providers/Microsoft.Web/sites/JehovaJirehWebServices</ResourceId>
    <ResourceGroup>jehovajireh</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jehovajirehwebservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jehovajirehwebservices.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JehovaJirehWebServices</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JehovaJirehWebServices</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="elmah-sqlserver" Order="2" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\elmah-sqlserver_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SQLConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehlocalDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SQLConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehDB.mdf;Integrated Security=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StorageConnectionString-Web.config Connection String">
      <ParameterValue>DefaultEndpointsProtocol=https;AccountName=jehovajireh;AccountKey=sKGAdc3gY6/EhSwNzZ2A4VNIsTATMtejpKy6fHS5d5aZXcA+0ub7NjoKNUwEl2kOxo76/L/8lmFbd1t+LI0DOg==;EndpointSuffix=core.windows.net</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SQLConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SQLConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="SQLConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="elmah-sqlserver-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tcerda\Source\Repos\Web\JehovaJireh\src\JehovaJireh.Web.Services\App_Data\jehovajirehelmahDB.mdf;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>