@using Resources
@{
    ViewBag.Title = Resources.Contact;
}
<h2>@ViewBag.Title.</h2>
<address>
	<p>@Resources.Address</p>
	<p>One Microsoft Way<br />
       Redmond, WA 98052-6399
	</p>
	<br />
    <abbr title="@Resources.Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>@Resources.Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>