@model JehovaJireh.Web.UI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>@Resources.Resources.UserNoRegisterYet</h4>
<hr />
@{
    <div>
		<p>
			@Html.ActionLink(Resources.Resources.Register, "Register")
		</p>
	</div>
}
